<mat-card class="sale">
  <mat-card-content>
    <div>
      <img
        class="peluche-img main"
        src="{{ peluche.Image }}"
        alt="peluche top"
      />
      <img
        *ngIf="isColor"
        class="peluche-img color"
        src="{{ colorImage }}"
        alt="color"
      />
      <img *ngIf="isBola" class="peluche-img acc" src="{{ bola }}" alt="bola" />
      <img
        *ngIf="isMartillo"
        class="peluche-img acc"
        src="{{ martillo }}"
        alt="martillo"
      />
      <img *ngIf="isPod" class="peluche-img acc" src="{{ pod }}" alt="pod" />
    </div>
    <p>Modelo: {{ peluche.tipo }}</p>
    <p>Color: {{ peluche.color }}</p>
    <p>Cant. accesorios: {{ peluche.accesorios.length }}</p>
  </mat-card-content>
  <mat-card-subtitle>De: {{ peluche.email }}</mat-card-subtitle>

  <mat-card-actions>
    <button
      class="buy"
      matTooltip="Comprar el peluche"
      mat-raised-button
      (click)="buy()"
    >
      Comprar
    </button>
    <button
      matTooltip="Agregar a favoritos"
      [class]="favoritoStyle"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      (click)="favorito()"
    >
      <mat-icon>star</mat-icon>
    </button>
    <button
      matTooltip="Agregar al carrito"
      [class]="carritoStyle"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon"
      (click)="carrito()"
    >
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
